$text-1: 4rem;
$text-2: 3rem;
$text-3: 2rem;
$text-4: 1.2rem;
$text-5: 1rem;
$text-6: 14px;
$text-7: 12px;

$grey-1: #A7A7A7;
$grey-2: #F3F3F3;
$purple-1: #581B98;
$purple-2: #6D2BB2;
$purple-3: #905AC8;
$pink: #F3558E;
$green: #3CA855;
$black: #444444;

@font-face {
    font-family: Cormier;
    src: url("Webfonts/Cormier Regular.woff");
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    max-width: 1366px;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.row > * {
    grid-column: 12 span;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    
}
