// font sizes
$big-heading: 4rem;
$big-heading-sm: 2.6rem;
$medium: 1.8rem;
$card-title: 1.2rem;
$normal-text: 1rem;
$nav-links: 14px;
$date-names: 12px;

// colors
$grey-dark: #A7A7A7;
$grey-light: #F3F3F3;
$primary-color: #581B98;
$primary-color-light: #7833c2;
$pink: #F3558E;
$green: #3CA855;
$black: #444444;

// common padding or margin
$large-padding: 3rem;
$medium-padding: 2rem;
$normal-padding: 1rem;
$line-height: 1.8rem;

// main content width for big screen
$main-width: 75%;

// nav aside width for big screen
$nav-width: 25%;

// common properties
@mixin nav-transition {
    transition: width 200ms cubic-bezier(0,1.02,.81,.98);
}

@mixin box-shadow-light {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin card-indicator-btn($bg-color, $text-color) {
    font-size: $nav-links;
    background-color: $bg-color;
    border: none;
    color: $text-color;
    padding: .5rem $normal-padding;
    border-radius: 0 .5rem .5rem 0;
    opacity: .8;
}

@mixin poster($width, $height, $image-width, $poster-btn-margin) {
    position: relative;
    width: $width;
    height: $height;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .people-msg {
        width: 90%;
        @include absolute-center;
    }

    .people-img {
        display: block;
        margin: 0 auto;
        width: $image-width;
        height: auto;
        border-radius: 100rem;
    }

    .people-text {
        font-size: $card-title;
        text-align: center;
        color: $grey-light;
        margin-top: $normal-padding;
        line-height: $line-height;
    }

    .poster-btn-name {
        width: 90%;
        margin: auto;
        position: absolute;
        left: 50%;
        bottom: $poster-btn-margin;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .poster-btn {
        @include card-indicator-btn($primary-color, $grey-light);
    }

    .people-name {
        font-size: $date-names;
        color: $grey-dark;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'PT Sans', Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: $grey-light;
}

body::-webkit-scrollbar-thumb {
    background: $grey-dark;
}

img {
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
}

.wrapper-90 {
    width: 90%;
    margin: 0 auto;
}

.left-main {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: $normal-padding 0;
    z-index: 98;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// big "Blog Template" heading
.heading {
    font-family: 'Teko', sans-serif;
    font-size: $medium;
    color: $primary-color;
}

.heading::before,
.heading::after {
    content: "";
    display: block;
    height: 2px;
}

.heading::before {
    width: 65%;
    background: linear-gradient(90deg, white 50%, $pink);
    margin-left: auto;
}

.heading::after {
    width: 30%;
    background: linear-gradient(90deg, $pink, white 50%);
    margin-right: auto;
}

.logo {
    width: 20px;
    cursor: pointer;
}

.hamburgur {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    visibility: visible;
}

.news-letter {
    width: 100%;
    height: 400px;
    background-image: url("../image/new-letter-bg.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .news-letter-title {
        font-size: $big-heading-sm;
        color: white;
    }

    .news-letter-sub-title {
        font-size: $card-title;
        color: $primary-color-light;
        width: 90%;
        margin-top: $normal-padding;
        margin-bottom: $large-padding;
        line-height: $line-height;
    }

    .news-letter-email {
        position: relative;
        width: 80%;
        max-width: 400px;
        height: 45px;
    }

    .email-input {
        width: 100%;
        height: 100%;
        font-size: $nav-links;
        color: white;
        border: none;
        background-color: $primary-color-light;
        padding: 0 9rem 0 2rem;
        border-radius: 100rem;
    }
    
    .email-input::placeholder {
        color: $primary-color-light + $grey-dark;
    }
    
    .subscribe-btn {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        font-weight: bold;
        font-size: $normal-padding;
        border-radius: 100rem;
        border: 1px solid white;
        background-color: white;
        padding: 0 1.5rem;
        color: $primary-color;
        transition: 300ms ease-out;
    }

    .subscribe-btn:active {
        transform: scale(.9);
    }
}

footer {
    padding: $large-padding 0;
    color: $grey-dark;
    text-align: center;
    line-height: 1.8rem;

    .footer-text {
        width: 90%;
        margin: 0 auto;
        margin-top: $normal-padding;
    }
}

@media (min-width: 576px) {
    .logo {
        width: 30px;
    }

    footer {
        padding: $large-padding*2 0;
    }
}

@media (min-width: 992px) {
    .news-letter {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .heading {
        font-size: $big-heading-sm;
    }

    header {
        position: static;
        margin-bottom: $medium-padding;
    }

    .header-content {
        margin-top: $medium-padding;
    }

    .hamburgur {
        visibility: hidden;
    }

    .left-main {
        width: $main-width;
    }

    .news-letter {
        .subscribe-btn:hover {
            color: white;
            background-color: $primary-color;
        }
    }
}
