@import "../main";

// fixed main container
// position absolute in small screen < 1200px
.fixed-right-aside {
    background-color: white;
    z-index: 99;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    width: 0px;
    @include nav-transition();
    @include box-shadow-light();
}

// width changes after hamburgur button is clicked
.right-aside-transition {
    width: 280px;
}

// fixed content container
.aside-content {
    overflow: hidden;
    padding: $medium-padding $large-padding;    
}

// exit button for removing side navigation
.exit {
    display: block;
    width: 30px;
    margin: 0 .6rem $medium-padding auto;
}

// get started button
.get-started-btn {
    background-color: $primary-color;
    color: white;
    border: 1px solid $primary-color;
    font-size: $nav-links;
    border-radius: 100rem;
    padding: .6rem 1.5rem;
    margin: 0 auto;
    margin-bottom: $normal-padding;
    display: block;
    cursor: pointer;
    transition: 300ms ease-out;
}

.get-started-btn:active {
    transform: scale(.8);
}

// search input field and search icon container
.search-field {
    margin: 1rem 0;
    width: 100%;
    border: none;
    font-size: $nav-links;
    padding: .5rem 0;
    border-bottom: 1px solid $grey-dark;
}

.search-field:focus {
    border-bottom: 1px solid $primary-color;    
}

.search-field::placeholder {
    color: $grey-dark;
}

// navigation buttons
.nav-item {
    display: block;
    color: $grey-dark;
    text-decoration: none;
    font-size: $nav-links;
    padding: .3rem 0;
    margin: .4rem 0;
    transition: margin 200ms ease-out;
}

.nav-item:hover {
    margin-left: $normal-padding;
}

// active navigation button
.active-nav {
    color: $primary-color;
    font-weight: bold;
}

.more-topics {
    color: $pink;
    text-decoration: underline;
}

// hr line with light grey color
.nav-break {
    background-color: $grey-light;
    border: none;
    height: 1px;
    margin: .5rem 0 1rem 0;
}

.social-links {
    img:nth-child(1),
    img:nth-child(3) {
        width: 50px;
    }
    img:nth-child(2) {
        width: 25px;
    }

    img {
        margin: .3rem 0;
        cursor: pointer;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $large-padding - .5rem;
}

@media (min-width: 992px) {
    .get-started-btn:hover {
        color: $primary-color;
        background-color: white;
    }

}

@media (min-width: 1200px) {
    // position fixed in big screen
    .fixed-right-aside {
        width: $nav-width;
        position: fixed;
        box-shadow: none;
    }
    
    .aside-content {
        padding: $medium-padding 0;
        max-width: 200px;
        margin-right: auto;
    }
    
    .fixed-right-aside::-webkit-scrollbar {
        display: none;
    }

    .exit {
        display: none;
    }
}
